{% extends 'CocoricoCoreBundle:Dashboard/Listing:layout.html.twig' %}

{% trans_default_domain 'cocorico_listing' %}

{% block nav_side_dashboard -%}
    {% set nav_side_dashboard_current = 'characteristic' %}
    {{ parent() }}
{%- endblock %}

{% block content_dashboard -%}
    <fieldset>
        <legend class="hidden">form area</legend>
        <div id="dishes-form-container">
            <div class="collection">
                {% if app.request.isXmlHttpRequest %}
                    {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
                {% endif %}

                {{ form_start(form) }}
                {{ form_errors(form) }}

                {% for listingListingCharacteristic in form.listingListingCharacteristicsOrderedByGroup %}
                    {{ form_widget(listingListingCharacteristic.translations) }}
                {% endfor %}

                <div class="btn-block text-center">
                    <button type="submit" class="btn btn-default">{{ 'listing.price_save'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </fieldset>
{%- endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            var $formContainer = $("#listing_listingListingCharacteristicsOrderedByGroup");
            $formContainer.submitAjaxForm(function () {
                jcf.replaceAll("#listing_listingListingCharacteristicsOrderedByGroup");
            });

            $formContainer.addFormToCollection("ul.collection", "ul", function () {

            });
        });
    </script>

{%- endblock %}


