{% extends "@CocoricoCore/Frontend/Common/form_search.html.twig" %}

{% trans_default_domain 'cocorico_listing' %}

 {% block form_search_filters %}
     <div class="sub-holder" id="search-container">
         <!-- range-area -->
         <div class="range-area">
             <!-- range-holder -->
             {{ form_widget(form.price_range) }}

             {% if bundleExist('CocoricoDeliveryBundle') %}
                 {% include '@CocoricoDelivery/Frontend/ListingResult/_form_delivery.html.twig' with {
                 'delivery' : form.delivery
                 } only %}
             {% endif %}
         </div>

        <div class="text-area">
            <div class="field-holder">
                {{ form_errors(form.first_name) }}
                {{ form_widget(form.first_name, {
                    'id': 'first_name',
                    'attr': {
                        'class': 'form-control',
                        'placeholder': form.first_name.vars.label|trans
                    }
                } ) }}
            </div>
        </div>

        <div class="text-area">
            <div class="field-holder">
                {{ form_errors(form.last_name) }}
                {{ form_widget(form.last_name, {
                    'id': 'last_name',
                    'attr': {
                        'class': 'form-control',
                        'placeholder': form.last_name.vars.label|trans
                    }
                } ) }}
            </div>
        </div>

        <div class="text-area">
            <div class="field-holder">
                {{ form_errors(form.number_of_people) }}
                {{ form_widget(form.number_of_people, {
                    'id': 'number_of_people',
                    'attr': {
                        'class': 'form-control numbers-only',
                        'placeholder': form.number_of_people.vars.label|trans
                    }
                } ) }}
            </div>
        </div>

         <div class="selection-holder text-area">
             {#
                 {% include '@CocoricoCore/Frontend/ListingResult/_form_search_characteristics.html.twig' with {
                 'characteristics' : form.characteristics
                 } only %}
             #}

             <div class="select-holder">
                 {{ form_widget(form.sort_by, {
                     'attr': {
                         'class': "form-control no-arrow"
                     }
                 }) }}
             </div>
         </div>

         {% if bundleExist('CocoricoListingCategoryFieldBundle') %}
             {{ render(controller('CocoricoListingCategoryFieldBundle:Frontend/ListingSearchCategoriesFields:categoriesSearchForm')) }}
             {#categories_fields form is already rendred in above controller#}
             {% do form.categories_fields.setRendered() %}
         {% endif %}



         <div class="text-area">
             <button type="submit" class="btn btn-default">
                 {{ 'listing.filter'|trans }}
             </button>
         </div>
     </div>
 {% endblock %}